* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body{
  background-color: rgb(0, 0, 46);
}
:root {
  --green: rgba(0, 177, 0, 0.651);
  --red: rgba(184, 0, 0, 0.63);
}
p {
  font-family: Lato;
}
.done {
  
  border:  3px solid var(--green);
}
.notDone {
  border:  3px solid var(--red);
}
.base {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  transition: all 0.3s;
  padding: 7px;
   min-width: 70.5%;
  margin-bottom: 10px;
}
.base:hover {
  transform: scale(1.02);
  
}
.input
{
  margin-top:10px ;
  margin-left: 10px;
  margin-bottom: 10px;
}
.input input
{
  position: relative;
  left: -30%;
  margin-left: 50%;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid aliceblue;
  padding: 0;
  height: 35px;
  width: 60%;
  font-size: larger;
  color: aliceblue;
}
.input button
{
position: relative;
top:-2px;
margin-top: 20px;
  margin-left: 50%;
  left:  -56px;
  padding: 0 5px;
  width: 100px;
  height: 50px;
  border: 2.7px solid aliceblue;
  border-radius: 3px;
  background-color: transparent;
  color: aliceblue;
}
.input span{
 font-size: 20px;
 color: aliceblue;
}
.doneTodos
{
  position: relative;
  text-align: center;
 border-radius: 4px;
 background-color: aliceblue;
  min-height: 400px;
  padding: 10px;
  width: 85%;
  left: -44.5%;
  margin-bottom: 20px;
  margin-left: 50%;
    
}
.todos{
  position: relative;
  text-align: center;
 border-radius: 4px;
 background-color: aliceblue;
  min-height: 400px;
  padding: 10px;
  width: 85%;
  left: -44.5%;
  margin-bottom: 20px;
  margin-left: 50%;
}
.todos h2, .doneTodos h2
{
  margin-bottom: 20px;
}